


<div class=" container-fluid banner">
    <div class="row">
        <div class="col-md-7  ban-text">
            <h1>RZL FIBER NETWORK</h1>
            <P>The Fastest network in Razole</P>
            <div class="icons">
                <div class="row">
                    <div class="col-md-3 ">
                        <div class="service-icons">
                           
                        </div>
                        <p>High Speed</p>
                       
                    </div>
                    <div class="col-md-3 ">
                        <div class="service-icons">
                            
                        </div>
                        <p>High Speed</p>
                    </div>
                    <div class="col-md-3 ">
                        <div class="service-icons">
                           
                        </div>
                        <p>High Speed</p>
                    </div>
                    <div class="col-md-3 ">
                        <div class="service-icons">
                           
                        </div>
                        <p>High Speed</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 ban-img">

        </div>

    </div>

</div>

<app-about-us></app-about-us>
<app-services></app-services>
<app-contact-us></app-contact-us> 