<!-- <mat-grid-list col="2" rowHeight="500px">
    <mat-grid-tile style="background-color: blue;">
       1
    </mat-grid-tile>
    <mat-grid-tile rowspan="2" colspan="2"   style="background-color: blue;">
        2 
    </mat-grid-tile>
    <mat-grid-tile style="background-color: blue;">
        3
    </mat-grid-tile>
</mat-grid-list> -->


<div class="About-Us">
    <div class="container-fluid">
        <div class="About-Us-img">
            <img src="../../../assets/img/rzllogosymbol.svg"/>
        </div>
        <div class="row justify-content-end">
            
            
            <div class="col-md-7 offset-md-3  About-Us-text">
                <h1>About <br>Rzl fiber Networks</h1>
                <p>We will provide the fastest Internet service!
                    Our Motto is to give uninteruption network connectivity with out any fluctuations.
                    We provide best service to our people.
    
                </p>
                <img src="../../../assets/img/rzlfiber-about.svg" alt="About RZL fiber">
            </div>
        </div>
    </div>
</div>

