

<div class="our-services">
    <div class="container-fluid ">
        <div class="row">
           <div class="fiber-img">
            <img src="../../../assets/img/razolefiber.svg" alt="RZL Fiber">
           </div>
    
            <div class=" col-md-7  offset-md-1">
                <div class="row">
                    <h1>Our Services</h1>
                    <p>We will provide the fastest Speed service, Our Moto is uninterruption
                        internet connection and no fluctuations,we will provide best service for our people.
                    </p>
                    <div class="col-md-6">
                        <div class="card service-card">
                            <div class="card-body">
                                <div class="service-icons">
    
                                </div>
                                <h3 class="card-title"><b>High Speed</b></h3>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card service-card">
                            <div class="card-body">
                                <div class="service-icons">
                                    
                                </div>
                                <h3 class="card-title"><b>High Speed</b></h3>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card service-card">
                            <div class="card-body">
                                <div class="service-icons">
                                    
                                </div>
                                <h3 class="card-title"><b>High Speed</b></h3>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card service-card">
                            <div class="card-body">
                                <div class="service-icons">
                                    
                                </div>
                                <h3 class="card-title"><b>High Speed</b></h3>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>